.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: antiquewhite;
    padding: 0 50px;
}

.linksContainer {
    display: flex;
    justify-content: center;
}

.navLink:hover {
    opacity: 0.8;
}

.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.authContainer a {
    padding: 0;
}

.authButton {
    margin: 5px 0;
    border-radius: 20px;
    background-color: aliceblue;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer
}

.authButton:hover {
    opacity: 0.8;
}