.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageNumber {
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-right: 7px;
}

.pageNumber:hover {
    opacity: 0.7;
}

.pageNumber:last-child {
    margin-right: 0;
}

.active {
    background-color: wheat;
}

.dots {
    margin-right: 7px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
}