.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.input {
    margin-right: 10px;
    padding: 0 3px;
    border: 2px solid wheat;
    border-radius: 5px;
}

.button {
    padding: 5px 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}