.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: antiquewhite;
    padding: 0 50px;
}

.linksContainer {
    display: flex;
    justify-content: center;
}

.navLink:hover {
    opacity: 0.8;
}